AskBotUpecinoTEST/Connected Services/PreguntaWS/AskBotUpecinoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AskBotUpecino.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AskBotUpecino.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pregunta">
    <xs:sequence>
      <xs:element minOccurs="0" name="PreguntaTxt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPregunta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pregunta" nillable="true" type="tns:Pregunta" />
</xs:schema>