AskBotUpecinoTEST/Connected Services/PreguntaWS/AskBotUpecinoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64064/AskBotUpecinoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AskBotUpecino.Dominio" />
  <xs:element name="ObtenerPreguntaMasPopularPorCurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCurso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPreguntaMasPopularPorCursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AskBotUpecino.Dominio" minOccurs="0" name="ObtenerPreguntaMasPopularPorCursoResult" nillable="true" type="q1:Pregunta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>